coverage>=4.0.3
pluggy>=0.3.1
py>=1.4.31
randomize>=0.13
pytest
mock
pytest-cov
coveralls
setuptools>=38.6.0
twine>=1.11.0
jsondiff
sphinx
sphinx-click
recommonmark
setuptools_scm
tox
tox-pyenv
tox-gh-actions
-r requirements.txt
wheel
