{
   "swagger":"2.0",
   "info":{
      "title":"",
      "version":""
   },
   "host":"rebrickable.com",
   "schemes":[
      "https"
   ],
   "securityDefinitions":{
      "APIKeyHeader":{
         "type":"apiKey",
         "in":"header",
         "name":"Authorization"
      }
   },
   "paths":{
      "/api/v3/lego/colors/":{
         "get":{
            "summary":"Get a list of all Colors.",
            "operationId":"lego_colors_list",
            "description":"Get a list of all Colors.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/colors/{id}/":{
         "get":{
            "summary":"Get details about a specific Color.",
            "operationId":"lego_colors_read",
            "description":"Get details about a specific Color.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/elements/{element_id}/":{
         "get":{
            "summary":"Get details about a specific Element ID.",
            "operationId":"lego_elements_read",
            "description":"Get details about a specific Element ID.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"element_id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/mocs/{set_num}/":{
         "get":{
            "summary":"Get details for a specific MOC.",
            "operationId":"lego_mocs_read",
            "description":"Get details for a specific MOC.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/mocs/{set_num}/parts/":{
         "get":{
            "summary":"Get a list of all Inventory Parts in this MOC.",
            "operationId":"lego_mocs_parts_list",
            "description":"Get a list of all Inventory Parts in this MOC.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/part_categories/":{
         "get":{
            "summary":"Get a list of all Part Categories.",
            "operationId":"lego_part_categories_list",
            "description":"Get a list of all Part Categories.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/part_categories/{id}/":{
         "get":{
            "summary":"Get details about a specific Part Category.",
            "operationId":"lego_part_categories_read",
            "description":"Get details about a specific Part Category.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/parts/":{
         "get":{
            "summary":"Get a list of Parts.",
            "operationId":"lego_parts_list",
            "description":"Get a list of Parts.\n\nOptionally filter by one or more of the below query parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_cat_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"bricklink_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"brickowl_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"lego_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ldraw_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"search",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/parts/{part_num}/":{
         "get":{
            "summary":"Get details about a specific Part.",
            "operationId":"lego_parts_read",
            "description":"Get details about a specific Part.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/parts/{part_num}/colors/":{
         "get":{
            "summary":"Get a list of all Colors a Part has appeared in.",
            "operationId":"lego_parts_colors_list",
            "description":"Get a list of all Colors a Part has appeared in.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/parts/{part_num}/colors/{color_id}/":{
         "get":{
            "summary":"Get details about a specific Part/Color combination.",
            "operationId":"lego_parts_colors_read",
            "description":"Get details about a specific Part/Color combination.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/parts/{part_num}/colors/{color_id}/sets/":{
         "get":{
            "summary":"Get a list of all Sets the Part/Color combination has appeard in.",
            "operationId":"lego_parts_colors_sets_list",
            "description":"Get a list of all Sets the Part/Color combination has appeard in.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/sets/":{
         "get":{
            "summary":"Get a list of Sets, optionally filtered by any of the below parameters.",
            "operationId":"lego_sets_list",
            "description":"Get a list of Sets, optionally filtered by any of the below parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"theme_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"min_year",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"max_year",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"min_parts",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"max_parts",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"search",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/sets/{set_num}/":{
         "get":{
            "summary":"Get details for a specific Set.",
            "operationId":"lego_sets_read",
            "description":"Get details for a specific Set.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/sets/{set_num}/alternates/":{
         "get":{
            "summary":"Get a list of MOCs which are Alternate Builds of a specific Set - i.e. all parts in the MOC can",
            "operationId":"lego_sets_alternates_list",
            "description":"Get a list of MOCs which are Alternate Builds of a specific Set - i.e. all parts in the MOC can\nbe found in the Set.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/sets/{set_num}/parts/":{
         "get":{
            "summary":"Get a list of all Inventory Parts in this Set.",
            "operationId":"lego_sets_parts_list",
            "description":"Get a list of all Inventory Parts in this Set.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/sets/{set_num}/sets/":{
         "get":{
            "summary":"Get a list of all Inventory Sets in this Set.",
            "operationId":"lego_sets_sets_list",
            "description":"Get a list of all Inventory Sets in this Set.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/themes/":{
         "get":{
            "summary":"Return all Themes",
            "operationId":"lego_themes_list",
            "description":"Return all Themes",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/lego/themes/{id}/":{
         "get":{
            "summary":"Return details for a specific Theme",
            "operationId":"lego_themes_read",
            "description":"Return details for a specific Theme",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "lego"
            ]
         }
      },
      "/api/v3/users/_token/":{
         "post":{
            "summary":"Generate a User Token to be used for authorising user account actions in subsequent calls. Username can be either",
            "operationId":"users__token_create",
            "description":"Generate a User Token to be used for authorising user account actions in subsequent calls. Username can be either\nthe actual username or the user's email address.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"username",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"password",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/badges/":{
         "get":{
            "summary":"Get a list of all the available Badges",
            "operationId":"users_badges_list",
            "description":"Get a list of all the available Badges",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/badges/{id}/":{
         "get":{
            "summary":"Get details about a specific Badge",
            "operationId":"users_badges_read",
            "description":"Get details about a specific Badge",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/allparts/":{
         "get":{
            "summary":"Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.",
            "operationId":"users_allparts_list",
            "description":"Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.\n\n###WARNING this call is very resource intensive, do not overuse it!\n\nOptionally, filter by one or more of the below query parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_cat_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/build/{set_num}/":{
         "get":{
            "summary":"Find out how many parts the user needs to build the specified Set.",
            "operationId":"users_build_read",
            "description":"Find out how many parts the user needs to build the specified Set.\n\nThe user's default Build Settings will be used to calculate a Build Match % using their LEGO Collection of Sets\nand Parts.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/lost_parts/":{
         "get":{
            "summary":"Get a list of all the Lost Parts from the user's LEGO collection.",
            "operationId":"users_lost_parts_list",
            "description":"Get a list of all the Lost Parts from the user's LEGO collection.\n\nOptionally, filter by one or more of the below query parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add one or more Lost Parts to the user.",
            "operationId":"users_lost_parts_create",
            "description":"Add one or more Lost Parts to the user.\n\n### Single Part\nWhen adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not\nbe added.\n### Multiple Parts\nTo add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). The inv_part_id\nfield can be retrieved from the Set's inventory.\ne.g:\n`[{\"inv_part_id\": 806698, \"lost_quantity\": 3},\n{\"inv_part_id\": 256007, \"lost_quantity\": 2}]`\nReturns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"lost_quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"inv_part_id",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/lost_parts/{id}/":{
         "delete":{
            "summary":"Remove the Lost Part from the user.",
            "operationId":"users_lost_parts_delete",
            "description":"Remove the Lost Part from the user.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/partlists/":{
         "get":{
            "summary":"Get a list of all the user's Part Lists.",
            "operationId":"users_partlists_list",
            "description":"Get a list of all the user's Part Lists.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add a new Part List.",
            "operationId":"users_partlists_create",
            "description":"Add a new Part List.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_parts",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/partlists/{list_id}/":{
         "get":{
            "summary":"Get details about a specific Part List.",
            "operationId":"users_partlists_read",
            "description":"Get details about a specific Part List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "put":{
            "summary":"Replace an existing Part List's details.",
            "operationId":"users_partlists_update",
            "description":"Replace an existing Part List's details.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_parts",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "patch":{
            "summary":"Update an existing Part List's details.",
            "operationId":"users_partlists_partial_update",
            "description":"Update an existing Part List's details.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_parts",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "delete":{
            "summary":"Delete a Part List and all it's Parts.",
            "operationId":"users_partlists_delete",
            "description":"Delete a Part List and all it's Parts.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/partlists/{list_id}/parts/":{
         "get":{
            "summary":"Get a list of all the Parts in a specific Part List.",
            "operationId":"users_partlists_parts_list",
            "description":"Get a list of all the Parts in a specific Part List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add one or more Parts to the Part List.",
            "operationId":"users_partlists_parts_create",
            "description":"Add one or more Parts to the Part List.\n\n### Single Part\nWhen adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not\nbe added.\n### Multiple Parts\nTo add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json').\ne.g:\n`[{\"part_num\":\"3001\", \"color_id\": 1, \"quantity\": 10},\n{\"part_num\":\"3001\", \"color_id\": 2, \"quantity\": 20},\n{\"part_num\":\"3002\", \"color_id\": 14, \"quantity\": 30}]`\nReturns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/partlists/{list_id}/parts/{part_num}/{color_id}/":{
         "get":{
            "summary":"Get details about a specific Part in the Part List.",
            "operationId":"users_partlists_parts_read",
            "description":"Get details about a specific Part in the Part List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "put":{
            "summary":"Replace an existing Part's details in the Part List.",
            "operationId":"users_partlists_parts_update",
            "description":"Replace an existing Part's details in the Part List.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "delete":{
            "summary":"Delete a Part from the Part List.",
            "operationId":"users_partlists_parts_delete",
            "description":"Delete a Part from the Part List.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/parts/":{
         "get":{
            "summary":"Get a list of all the Parts in all the user's Part Lists.",
            "operationId":"users_parts_list",
            "description":"Get a list of all the Parts in all the user's Part Lists.\n\n###Set List logic\nParts appearing in multiple Part Lists will be listed multiple times.\n\nOptionally, filter by one or more of the below query parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_num",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"part_cat_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"color_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"search",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/profile/":{
         "get":{
            "summary":"Get details about a specific user.",
            "operationId":"users_profile_list",
            "description":"Get details about a specific user.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/setlists/":{
         "get":{
            "summary":"Get a list of all the user's Set Lists.",
            "operationId":"users_setlists_list",
            "description":"Get a list of all the user's Set Lists.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add a new Set List.",
            "operationId":"users_setlists_create",
            "description":"Add a new Set List.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_sets",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/setlists/{list_id}/":{
         "get":{
            "summary":"Get details about a specific Set List.",
            "operationId":"users_setlists_read",
            "description":"Get details about a specific Set List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "put":{
            "summary":"Replace an existing Set List's details.",
            "operationId":"users_setlists_update",
            "description":"Replace an existing Set List's details.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_sets",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "patch":{
            "summary":"Update an existing Set List's details.",
            "operationId":"users_setlists_partial_update",
            "description":"Update an existing Set List's details.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"is_buildable",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"name",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"num_sets",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "delete":{
            "summary":"Delete a Set List and all it's Sets.",
            "operationId":"users_setlists_delete",
            "description":"Delete a Set List and all it's Sets.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/setlists/{list_id}/sets/":{
         "get":{
            "summary":"Get a list of all the Sets in a specific Set List.",
            "operationId":"users_setlists_sets_list",
            "description":"Get a list of all the Sets in a specific Set List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add one or more Sets to the Set List. Existing Sets are unaffected.",
            "operationId":"users_setlists_sets_create",
            "description":"Add one or more Sets to the Set List. Existing Sets are unaffected.\n\n### Single Set\nWhen adding a single Set, returns the successfully created Set (status 201) or details for why the Set could not\nbe added.\n### Multiple Sets\nTo add multiple Sets, POST a JSON list of them (using a Content-Type header of 'application/json').\ne.g:\n`[{\"set_num\":\"8043-1\", \"quantity\": 1},\n{\"set_num\":\"8110-1\", \"quantity\": 2, \"include_spares\": \"False\"}]`\nReturns a list of successfully added Sets. If the Set already exists or is unrecognised, it will be skipped.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"include_spares",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/setlists/{list_id}/sets/{set_num}/":{
         "get":{
            "summary":"Get details about a specific Set in the Set List.",
            "operationId":"users_setlists_sets_read",
            "description":"Get details about a specific Set in the Set List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "put":{
            "summary":"Replace an existing Set's details in the Set List.",
            "operationId":"users_setlists_sets_update",
            "description":"Replace an existing Set's details in the Set List.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"include_spares",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "patch":{
            "summary":"Update an existing Set's details in the Set List.",
            "operationId":"users_setlists_sets_partial_update",
            "description":"Update an existing Set's details in the Set List.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"include_spares",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "delete":{
            "summary":"Delete a Set from the Set List.",
            "operationId":"users_setlists_sets_delete",
            "description":"Delete a Set from the Set List.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"list_id",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/sets/":{
         "get":{
            "summary":"Get a list of all the Sets in the user's LEGO collection.",
            "operationId":"users_sets_list",
            "description":"Get a list of all the Sets in the user's LEGO collection.\n\n### Set List logic\nSets appearing in multiple Set Lists will be listed multiple times.\n\nOptionally, filter by one or more of the below query parameters.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"page_size",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"theme_id",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"min_year",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"max_year",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"min_parts",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"max_parts",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"ordering",
                  "description":null,
                  "in":"query"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"search",
                  "description":null,
                  "in":"query"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "post":{
            "summary":"Add one or more Sets to the user's LEGO collection. Existing Sets are unaffected.",
            "operationId":"users_sets_create",
            "description":"Add one or more Sets to the user's LEGO collection. Existing Sets are unaffected.\n\n### Set List logic\nThe Set List used when adding sets is chosen in the following order:\n1. If no Set Lists exist, one will be created and used\n2. User's configured default Set List for Imports\n3. The first Set List alphabetically\n\n### Single Set\nWhen adding a single Set, returns the successfully created Set (status 201) or details for why the Set could not\nbe added.\n### Multiple Sets\nTo add multiple Sets, POST a JSON list of them (using a Content-Type header of 'application/json').\ne.g:\n`[{\"set_num\":\"8043-1\", \"quantity\": 1},\n{\"set_num\":\"8110-1\", \"quantity\": 2, \"include_spares\": \"False\"}]`\nReturns a list of successfully added Sets. If the Set already exists or is unrecognised, it will be skipped.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"include_spares",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/sets/sync/":{
         "post":{
            "summary":"Synchronise a user's Sets to the POSTed list.",
            "operationId":"users_sets_sync_create",
            "description":"Synchronise a user's Sets to the POSTed list.\n\n### Set List logic\nThis is used to completely replace the user's Sets with those in the supplied list.\nIt will remove any Sets in Rebrickable that are not found in the supplied list.\nIt will attempt to keep any current Rebrickable Sets in their existing Set Lists, and will add any new Sets\nfound into the Default Set List for Imports in the user's settings.\n### Single Set\nWhen adding a single Set, returns the successfully created Set (status 201) or details for why the Set could not\nbe added.\n### Multiple Sets\nTo add multiple Sets, POST a JSON list of them (using a Content-Type header of 'application/json').\ne.g:\n`[{\"set_num\":\"8043-1\", \"quantity\": 1},\n{\"set_num\":\"8110-1\", \"quantity\": 2, \"include_spares\": \"False\"}]`\nReturns a list of successfully added Sets. If the Set is unrecognised, it will be skipped.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"include_spares",
                  "description":null,
                  "in":"formData"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         }
      },
      "/api/v3/users/{user_token}/sets/{set_num}/":{
         "get":{
            "summary":"Get details about a specific Set in the user's LEGO collection.",
            "operationId":"users_sets_read",
            "description":"Get details about a specific Set in the user's LEGO collection.\n\n### Set List logic\nBecause this merges sets found across all Set Lists the fields list_id and include_spares may not be\naccurate unless the Set actually only exists in a single Set List.",
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "put":{
            "summary":"Update an existing Set's quantity in all Set Lists. This PUT call is different to others in that it will create",
            "operationId":"users_sets_update",
            "description":"Update an existing Set's quantity in all Set Lists. This PUT call is different to others in that it will create\nthe Set if it doesn't already exist, and it will delete the Set if you pass a quantity of 0.\n\n### Set List logic\n* Default Set List = user's configured default import list or the first alphabetically if none exist.\n* Increasing quantity = add to Set in default Set List if it exists, else add it there\n* Decreasing quantity = remove from Set in default Set List first, then from remaining lists until done",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":false,
                  "type":"string",
                  "name":"quantity",
                  "description":null,
                  "in":"formData"
               }
            ],
            "tags":[
               "users"
            ]
         },
         "delete":{
            "summary":"Delete the Set from all the user's Set Lists.",
            "operationId":"users_sets_delete",
            "description":"Delete the Set from all the user's Set Lists.",
            "responses":{
               "204":{
                  "description":""
               }
            },
            "parameters":[
               {
                  "required":true,
                  "type":"string",
                  "name":"user_token",
                  "description":null,
                  "in":"path"
               },
               {
                  "required":true,
                  "type":"string",
                  "name":"set_num",
                  "description":null,
                  "in":"path"
               }
            ],
            "tags":[
               "users"
            ]
         }
      }
   }
}
