# coding: utf-8

"""
    

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from rebrickable.api_client import ApiClient


class UsersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def users_allparts_list(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Parts in all the user&#39;s Part Lists as well as the Parts inside Sets in the user&#39;s Set Lists.  # noqa: E501

        Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.  ###WARNING this call is very resource intensive, do not overuse it!  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_allparts_list(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str part_num: null
        :param str part_cat_id: null
        :param str color_id: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_allparts_list_with_http_info(user_token, **kwargs)  # noqa: E501
        else:
            (data) = self.users_allparts_list_with_http_info(user_token, **kwargs)  # noqa: E501
            return data

    def users_allparts_list_with_http_info(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Parts in all the user&#39;s Part Lists as well as the Parts inside Sets in the user&#39;s Set Lists.  # noqa: E501

        Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.  ###WARNING this call is very resource intensive, do not overuse it!  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_allparts_list_with_http_info(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str part_num: null
        :param str part_cat_id: null
        :param str color_id: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'page', 'page_size', 'part_num', 'part_cat_id', 'color_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_allparts_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_allparts_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'part_num' in params:
            query_params.append(('part_num', params['part_num']))  # noqa: E501
        if 'part_cat_id' in params:
            query_params.append(('part_cat_id', params['part_cat_id']))  # noqa: E501
        if 'color_id' in params:
            query_params.append(('color_id', params['color_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/allparts/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_badges_list(self, **kwargs):  # noqa: E501
        """Get a list of all the available Badges  # noqa: E501

        Get a list of all the available Badges  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_badges_list(async=True)
        >>> result = thread.get()

        :param async bool
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_badges_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.users_badges_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def users_badges_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get a list of all the available Badges  # noqa: E501

        Get a list of all the available Badges  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_badges_list_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'page_size', 'ordering']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_badges_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'ordering' in params:
            query_params.append(('ordering', params['ordering']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/badges/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_badges_read(self, id, **kwargs):  # noqa: E501
        """Get details about a specific Badge  # noqa: E501

        Get details about a specific Badge  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_badges_read(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_badges_read_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_badges_read_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def users_badges_read_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get details about a specific Badge  # noqa: E501

        Get details about a specific Badge  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_badges_read_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_badges_read" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_badges_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/badges/{id}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_build_read(self, user_token, set_num, **kwargs):  # noqa: E501
        """Find out how many parts the user needs to build the specified Set.  # noqa: E501

        Find out how many parts the user needs to build the specified Set.  The user's default Build Settings will be used to calculate a Build Match % using their LEGO Collection of Sets and Parts.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_build_read(user_token, set_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str set_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_build_read_with_http_info(user_token, set_num, **kwargs)  # noqa: E501
        else:
            (data) = self.users_build_read_with_http_info(user_token, set_num, **kwargs)  # noqa: E501
            return data

    def users_build_read_with_http_info(self, user_token, set_num, **kwargs):  # noqa: E501
        """Find out how many parts the user needs to build the specified Set.  # noqa: E501

        Find out how many parts the user needs to build the specified Set.  The user's default Build Settings will be used to calculate a Build Match % using their LEGO Collection of Sets and Parts.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_build_read_with_http_info(user_token, set_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str set_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'set_num']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_build_read" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_build_read`")  # noqa: E501
        # verify the required parameter 'set_num' is set
        if ('set_num' not in params or
                params['set_num'] is None):
            raise ValueError("Missing the required parameter `set_num` when calling `users_build_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'set_num' in params:
            path_params['set_num'] = params['set_num']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/build/{set_num}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_lost_parts_create(self, user_token, inv_part_id, **kwargs):  # noqa: E501
        """Add one or more Lost Parts to the user.  # noqa: E501

        Add one or more Lost Parts to the user.  ### Single Part When adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not be added. ### Multiple Parts To add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). The inv_part_id field can be retrieved from the Set's inventory. e.g: `[{\"inv_part_id\": 806698, \"lost_quantity\": 3}, {\"inv_part_id\": 256007, \"lost_quantity\": 2}]` Returns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_create(user_token, inv_part_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str inv_part_id: null (required)
        :param str lost_quantity: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_lost_parts_create_with_http_info(user_token, inv_part_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_lost_parts_create_with_http_info(user_token, inv_part_id, **kwargs)  # noqa: E501
            return data

    def users_lost_parts_create_with_http_info(self, user_token, inv_part_id, **kwargs):  # noqa: E501
        """Add one or more Lost Parts to the user.  # noqa: E501

        Add one or more Lost Parts to the user.  ### Single Part When adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not be added. ### Multiple Parts To add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). The inv_part_id field can be retrieved from the Set's inventory. e.g: `[{\"inv_part_id\": 806698, \"lost_quantity\": 3}, {\"inv_part_id\": 256007, \"lost_quantity\": 2}]` Returns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_create_with_http_info(user_token, inv_part_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str inv_part_id: null (required)
        :param str lost_quantity: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'inv_part_id', 'lost_quantity']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_lost_parts_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_lost_parts_create`")  # noqa: E501
        # verify the required parameter 'inv_part_id' is set
        if ('inv_part_id' not in params or
                params['inv_part_id'] is None):
            raise ValueError("Missing the required parameter `inv_part_id` when calling `users_lost_parts_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'lost_quantity' in params:
            form_params.append(('lost_quantity', params['lost_quantity']))  # noqa: E501
        if 'inv_part_id' in params:
            form_params.append(('inv_part_id', params['inv_part_id']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/lost_parts/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_lost_parts_delete(self, user_token, id, **kwargs):  # noqa: E501
        """Remove the Lost Part from the user.  # noqa: E501

        Remove the Lost Part from the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_delete(user_token, id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_lost_parts_delete_with_http_info(user_token, id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_lost_parts_delete_with_http_info(user_token, id, **kwargs)  # noqa: E501
            return data

    def users_lost_parts_delete_with_http_info(self, user_token, id, **kwargs):  # noqa: E501
        """Remove the Lost Part from the user.  # noqa: E501

        Remove the Lost Part from the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_delete_with_http_info(user_token, id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_lost_parts_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_lost_parts_delete`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `users_lost_parts_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/lost_parts/{id}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_lost_parts_list(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Lost Parts from the user&#39;s LEGO collection.  # noqa: E501

        Get a list of all the Lost Parts from the user's LEGO collection.  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_list(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_lost_parts_list_with_http_info(user_token, **kwargs)  # noqa: E501
        else:
            (data) = self.users_lost_parts_list_with_http_info(user_token, **kwargs)  # noqa: E501
            return data

    def users_lost_parts_list_with_http_info(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Lost Parts from the user&#39;s LEGO collection.  # noqa: E501

        Get a list of all the Lost Parts from the user's LEGO collection.  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_lost_parts_list_with_http_info(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'page', 'page_size', 'ordering']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_lost_parts_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_lost_parts_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'ordering' in params:
            query_params.append(('ordering', params['ordering']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/lost_parts/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_create(self, user_token, name, **kwargs):  # noqa: E501
        """Add a new Part List.  # noqa: E501

        Add a new Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_create(user_token, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_create_with_http_info(user_token, name, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_create_with_http_info(user_token, name, **kwargs)  # noqa: E501
            return data

    def users_partlists_create_with_http_info(self, user_token, name, **kwargs):  # noqa: E501
        """Add a new Part List.  # noqa: E501

        Add a new Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_create_with_http_info(user_token, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'name', 'is_buildable', 'num_parts']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_create`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `users_partlists_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'is_buildable' in params:
            form_params.append(('is_buildable', params['is_buildable']))  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'num_parts' in params:
            form_params.append(('num_parts', params['num_parts']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_delete(self, user_token, list_id, **kwargs):  # noqa: E501
        """Delete a Part List and all it&#39;s Parts.  # noqa: E501

        Delete a Part List and all it's Parts.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_delete(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_delete_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_delete_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
            return data

    def users_partlists_delete_with_http_info(self, user_token, list_id, **kwargs):  # noqa: E501
        """Delete a Part List and all it&#39;s Parts.  # noqa: E501

        Delete a Part List and all it's Parts.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_delete_with_http_info(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_delete`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_list(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the user&#39;s Part Lists.  # noqa: E501

        Get a list of all the user's Part Lists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_list(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_list_with_http_info(user_token, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_list_with_http_info(user_token, **kwargs)  # noqa: E501
            return data

    def users_partlists_list_with_http_info(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the user&#39;s Part Lists.  # noqa: E501

        Get a list of all the user's Part Lists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_list_with_http_info(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'page', 'page_size']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_partial_update(self, user_token, list_id, **kwargs):  # noqa: E501
        """Update an existing Part List&#39;s details.  # noqa: E501

        Update an existing Part List's details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_partial_update(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str is_buildable: null
        :param str name: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_partial_update_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_partial_update_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
            return data

    def users_partlists_partial_update_with_http_info(self, user_token, list_id, **kwargs):  # noqa: E501
        """Update an existing Part List&#39;s details.  # noqa: E501

        Update an existing Part List's details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_partial_update_with_http_info(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str is_buildable: null
        :param str name: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'is_buildable', 'name', 'num_parts']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_partial_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_partial_update`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_partial_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'is_buildable' in params:
            form_params.append(('is_buildable', params['is_buildable']))  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'num_parts' in params:
            form_params.append(('num_parts', params['num_parts']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_parts_create(self, user_token, list_id, part_num, quantity, color_id, **kwargs):  # noqa: E501
        """Add one or more Parts to the Part List.  # noqa: E501

        Add one or more Parts to the Part List.  ### Single Part When adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not be added. ### Multiple Parts To add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). e.g: `[{\"part_num\":\"3001\", \"color_id\": 1, \"quantity\": 10}, {\"part_num\":\"3001\", \"color_id\": 2, \"quantity\": 20}, {\"part_num\":\"3002\", \"color_id\": 14, \"quantity\": 30}]` Returns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_create(user_token, list_id, part_num, quantity, color_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str part_num: null (required)
        :param str quantity: null (required)
        :param str color_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_parts_create_with_http_info(user_token, list_id, part_num, quantity, color_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_parts_create_with_http_info(user_token, list_id, part_num, quantity, color_id, **kwargs)  # noqa: E501
            return data

    def users_partlists_parts_create_with_http_info(self, user_token, list_id, part_num, quantity, color_id, **kwargs):  # noqa: E501
        """Add one or more Parts to the Part List.  # noqa: E501

        Add one or more Parts to the Part List.  ### Single Part When adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not be added. ### Multiple Parts To add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). e.g: `[{\"part_num\":\"3001\", \"color_id\": 1, \"quantity\": 10}, {\"part_num\":\"3001\", \"color_id\": 2, \"quantity\": 20}, {\"part_num\":\"3002\", \"color_id\": 14, \"quantity\": 30}]` Returns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_create_with_http_info(user_token, list_id, part_num, quantity, color_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str part_num: null (required)
        :param str quantity: null (required)
        :param str color_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'part_num', 'quantity', 'color_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_parts_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_parts_create`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_parts_create`")  # noqa: E501
        # verify the required parameter 'part_num' is set
        if ('part_num' not in params or
                params['part_num'] is None):
            raise ValueError("Missing the required parameter `part_num` when calling `users_partlists_parts_create`")  # noqa: E501
        # verify the required parameter 'quantity' is set
        if ('quantity' not in params or
                params['quantity'] is None):
            raise ValueError("Missing the required parameter `quantity` when calling `users_partlists_parts_create`")  # noqa: E501
        # verify the required parameter 'color_id' is set
        if ('color_id' not in params or
                params['color_id'] is None):
            raise ValueError("Missing the required parameter `color_id` when calling `users_partlists_parts_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'part_num' in params:
            form_params.append(('part_num', params['part_num']))  # noqa: E501
        if 'quantity' in params:
            form_params.append(('quantity', params['quantity']))  # noqa: E501
        if 'color_id' in params:
            form_params.append(('color_id', params['color_id']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/parts/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_parts_delete(self, user_token, list_id, color_id, part_num, **kwargs):  # noqa: E501
        """Delete a Part from the Part List.  # noqa: E501

        Delete a Part from the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_delete(user_token, list_id, color_id, part_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_parts_delete_with_http_info(user_token, list_id, color_id, part_num, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_parts_delete_with_http_info(user_token, list_id, color_id, part_num, **kwargs)  # noqa: E501
            return data

    def users_partlists_parts_delete_with_http_info(self, user_token, list_id, color_id, part_num, **kwargs):  # noqa: E501
        """Delete a Part from the Part List.  # noqa: E501

        Delete a Part from the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_delete_with_http_info(user_token, list_id, color_id, part_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'color_id', 'part_num']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_parts_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_parts_delete`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_parts_delete`")  # noqa: E501
        # verify the required parameter 'color_id' is set
        if ('color_id' not in params or
                params['color_id'] is None):
            raise ValueError("Missing the required parameter `color_id` when calling `users_partlists_parts_delete`")  # noqa: E501
        # verify the required parameter 'part_num' is set
        if ('part_num' not in params or
                params['part_num'] is None):
            raise ValueError("Missing the required parameter `part_num` when calling `users_partlists_parts_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501
        if 'color_id' in params:
            path_params['color_id'] = params['color_id']  # noqa: E501
        if 'part_num' in params:
            path_params['part_num'] = params['part_num']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/parts/{part_num}/{color_id}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_parts_list(self, user_token, list_id, **kwargs):  # noqa: E501
        """Get a list of all the Parts in a specific Part List.  # noqa: E501

        Get a list of all the Parts in a specific Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_list(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_parts_list_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_parts_list_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
            return data

    def users_partlists_parts_list_with_http_info(self, user_token, list_id, **kwargs):  # noqa: E501
        """Get a list of all the Parts in a specific Part List.  # noqa: E501

        Get a list of all the Parts in a specific Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_list_with_http_info(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str page: null
        :param str page_size: null
        :param str ordering: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'page', 'page_size', 'ordering']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_parts_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_parts_list`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_parts_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'ordering' in params:
            query_params.append(('ordering', params['ordering']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/parts/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_parts_read(self, user_token, list_id, color_id, part_num, **kwargs):  # noqa: E501
        """Get details about a specific Part in the Part List.  # noqa: E501

        Get details about a specific Part in the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_read(user_token, list_id, color_id, part_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_parts_read_with_http_info(user_token, list_id, color_id, part_num, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_parts_read_with_http_info(user_token, list_id, color_id, part_num, **kwargs)  # noqa: E501
            return data

    def users_partlists_parts_read_with_http_info(self, user_token, list_id, color_id, part_num, **kwargs):  # noqa: E501
        """Get details about a specific Part in the Part List.  # noqa: E501

        Get details about a specific Part in the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_read_with_http_info(user_token, list_id, color_id, part_num, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'color_id', 'part_num']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_parts_read" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_parts_read`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_parts_read`")  # noqa: E501
        # verify the required parameter 'color_id' is set
        if ('color_id' not in params or
                params['color_id'] is None):
            raise ValueError("Missing the required parameter `color_id` when calling `users_partlists_parts_read`")  # noqa: E501
        # verify the required parameter 'part_num' is set
        if ('part_num' not in params or
                params['part_num'] is None):
            raise ValueError("Missing the required parameter `part_num` when calling `users_partlists_parts_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501
        if 'color_id' in params:
            path_params['color_id'] = params['color_id']  # noqa: E501
        if 'part_num' in params:
            path_params['part_num'] = params['part_num']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/parts/{part_num}/{color_id}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_parts_update(self, user_token, list_id, color_id, part_num, quantity, **kwargs):  # noqa: E501
        """Replace an existing Part&#39;s details in the Part List.  # noqa: E501

        Replace an existing Part's details in the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_update(user_token, list_id, color_id, part_num, quantity, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :param str quantity: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_parts_update_with_http_info(user_token, list_id, color_id, part_num, quantity, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_parts_update_with_http_info(user_token, list_id, color_id, part_num, quantity, **kwargs)  # noqa: E501
            return data

    def users_partlists_parts_update_with_http_info(self, user_token, list_id, color_id, part_num, quantity, **kwargs):  # noqa: E501
        """Replace an existing Part&#39;s details in the Part List.  # noqa: E501

        Replace an existing Part's details in the Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_parts_update_with_http_info(user_token, list_id, color_id, part_num, quantity, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str color_id: null (required)
        :param str part_num: null (required)
        :param str quantity: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'color_id', 'part_num', 'quantity']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_parts_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_parts_update`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_parts_update`")  # noqa: E501
        # verify the required parameter 'color_id' is set
        if ('color_id' not in params or
                params['color_id'] is None):
            raise ValueError("Missing the required parameter `color_id` when calling `users_partlists_parts_update`")  # noqa: E501
        # verify the required parameter 'part_num' is set
        if ('part_num' not in params or
                params['part_num'] is None):
            raise ValueError("Missing the required parameter `part_num` when calling `users_partlists_parts_update`")  # noqa: E501
        # verify the required parameter 'quantity' is set
        if ('quantity' not in params or
                params['quantity'] is None):
            raise ValueError("Missing the required parameter `quantity` when calling `users_partlists_parts_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501
        if 'color_id' in params:
            path_params['color_id'] = params['color_id']  # noqa: E501
        if 'part_num' in params:
            path_params['part_num'] = params['part_num']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'quantity' in params:
            form_params.append(('quantity', params['quantity']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/parts/{part_num}/{color_id}/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_read(self, user_token, list_id, **kwargs):  # noqa: E501
        """Get details about a specific Part List.  # noqa: E501

        Get details about a specific Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_read(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_read_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_read_with_http_info(user_token, list_id, **kwargs)  # noqa: E501
            return data

    def users_partlists_read_with_http_info(self, user_token, list_id, **kwargs):  # noqa: E501
        """Get details about a specific Part List.  # noqa: E501

        Get details about a specific Part List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_read_with_http_info(user_token, list_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_read" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_read`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_partlists_update(self, user_token, list_id, name, **kwargs):  # noqa: E501
        """Replace an existing Part List&#39;s details.  # noqa: E501

        Replace an existing Part List's details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_update(user_token, list_id, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_partlists_update_with_http_info(user_token, list_id, name, **kwargs)  # noqa: E501
        else:
            (data) = self.users_partlists_update_with_http_info(user_token, list_id, name, **kwargs)  # noqa: E501
            return data

    def users_partlists_update_with_http_info(self, user_token, list_id, name, **kwargs):  # noqa: E501
        """Replace an existing Part List&#39;s details.  # noqa: E501

        Replace an existing Part List's details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_partlists_update_with_http_info(user_token, list_id, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str list_id: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_parts: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'list_id', 'name', 'is_buildable', 'num_parts']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_partlists_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_partlists_update`")  # noqa: E501
        # verify the required parameter 'list_id' is set
        if ('list_id' not in params or
                params['list_id'] is None):
            raise ValueError("Missing the required parameter `list_id` when calling `users_partlists_update`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `users_partlists_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501
        if 'list_id' in params:
            path_params['list_id'] = params['list_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'is_buildable' in params:
            form_params.append(('is_buildable', params['is_buildable']))  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'num_parts' in params:
            form_params.append(('num_parts', params['num_parts']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/partlists/{list_id}/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_parts_list(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Parts in all the user&#39;s Part Lists.  # noqa: E501

        Get a list of all the Parts in all the user's Part Lists.  ###Set List logic Parts appearing in multiple Part Lists will be listed multiple times.  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_parts_list(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str part_num: null
        :param str part_cat_id: null
        :param str color_id: null
        :param str ordering: null
        :param str search: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_parts_list_with_http_info(user_token, **kwargs)  # noqa: E501
        else:
            (data) = self.users_parts_list_with_http_info(user_token, **kwargs)  # noqa: E501
            return data

    def users_parts_list_with_http_info(self, user_token, **kwargs):  # noqa: E501
        """Get a list of all the Parts in all the user&#39;s Part Lists.  # noqa: E501

        Get a list of all the Parts in all the user's Part Lists.  ###Set List logic Parts appearing in multiple Part Lists will be listed multiple times.  Optionally, filter by one or more of the below query parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_parts_list_with_http_info(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :param str part_num: null
        :param str part_cat_id: null
        :param str color_id: null
        :param str ordering: null
        :param str search: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'page', 'page_size', 'part_num', 'part_cat_id', 'color_id', 'ordering', 'search']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_parts_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_parts_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'part_num' in params:
            query_params.append(('part_num', params['part_num']))  # noqa: E501
        if 'part_cat_id' in params:
            query_params.append(('part_cat_id', params['part_cat_id']))  # noqa: E501
        if 'color_id' in params:
            query_params.append(('color_id', params['color_id']))  # noqa: E501
        if 'ordering' in params:
            query_params.append(('ordering', params['ordering']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/parts/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_profile_list(self, user_token, **kwargs):  # noqa: E501
        """Get details about a specific user.  # noqa: E501

        Get details about a specific user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_profile_list(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_profile_list_with_http_info(user_token, **kwargs)  # noqa: E501
        else:
            (data) = self.users_profile_list_with_http_info(user_token, **kwargs)  # noqa: E501
            return data

    def users_profile_list_with_http_info(self, user_token, **kwargs):  # noqa: E501
        """Get details about a specific user.  # noqa: E501

        Get details about a specific user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_profile_list_with_http_info(user_token, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str page: null
        :param str page_size: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'page', 'page_size']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_profile_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_profile_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/profile/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def users_setlists_create(self, user_token, name, **kwargs):  # noqa: E501
        """Add a new Set List.  # noqa: E501

        Add a new Set List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_setlists_create(user_token, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_sets: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.users_setlists_create_with_http_info(user_token, name, **kwargs)  # noqa: E501
        else:
            (data) = self.users_setlists_create_with_http_info(user_token, name, **kwargs)  # noqa: E501
            return data

    def users_setlists_create_with_http_info(self, user_token, name, **kwargs):  # noqa: E501
        """Add a new Set List.  # noqa: E501

        Add a new Set List.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.users_setlists_create_with_http_info(user_token, name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_token: null (required)
        :param str name: null (required)
        :param str is_buildable: null
        :param str num_sets: null
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_token', 'name', 'is_buildable', 'num_sets']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method users_setlists_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_token' is set
        if ('user_token' not in params or
                params['user_token'] is None):
            raise ValueError("Missing the required parameter `user_token` when calling `users_setlists_create`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `users_setlists_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_token' in params:
            path_params['user_token'] = params['user_token']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'is_buildable' in params:
            form_params.append(('is_buildable', params['is_buildable']))  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'num_sets' in params:
            form_params.append(('num_sets', params['num_sets']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/users/{user_token}/setlists/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
[...]
